* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --navy850: hsl(217, 28%, 15%); /*intro and email sign up background */
  --navy900MainBackground: hsl(218, 28%, 13%);
  --navy950FooterBackground: hsl(216, 53%, 9%);
  --navy800: hsl(219, 30%, 18%);
  --teal200: hsl(176, 68%, 64%);
  --cyan500: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --whiteText: rgb(233, 233, 233);
  --font-familyForHeadingCalltoActionHeaderNavigation: "DM Sans", sans-serif;
  --mainfont-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-familyForHeadingCalltoActionHeaderNavigation);
  /* background-color: var(--navy900MainBackground); */
  background-color: var(--navy850);
}

img {
  width: 100%;
}

/* Header */
.header {
  background-color: var(--navy850);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}
.header-logo {
  width: 7rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.nav-item {
  list-style: none;
}

.nav-item:hover {
  text-decoration: underline;
  color: var(--white);
}

.nav-link {
  color: var(--whiteText);
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-image {
  /* background-color: var(--navy850); */
  width: 100%;
  /* z-index: -1; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30rem;
  gap: 1rem;
  background-size: cover;
}

.bg-curvy-mobile {
  height: 4rem;
}
.hero-title {
  color: var(--white);
  font-size: 2.3rem;
  font-weight: 550;
  margin-top: 2rem;
}
.hero-text {
  color: rgb(233, 233, 233);
  /* font-size: 1.2rem; */
  line-height: 1.7rem;
  padding: 4rem;
  margin-top: -3rem;
  margin-bottom: -3rem;
}
.btn {
  padding: 1rem 6rem;
  background-color: rgb(41, 212, 255);
  color: var(--white);
  font-weight: bold;
  border-radius: 1.5rem;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(96, 223, 255);
}
/* .btn-primary {
} */

/* Features */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 2rem;
  padding-bottom: 6rem;
  /* margin-bottom: 6rem; */
  background-color: var(--navy900MainBackground);
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.feature-icon {
  width: 3.5rem;
}
.feature-title {
  color: var(--white);
}
.feature-text {
  color: var(--whiteText);
  text-align: center;
}

/* Productive */
.productive {
  padding: 3rem;
  padding-bottom: 6rem;
  background-color: var(--navy900MainBackground);
}
.productive-image {
}
.productive-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productive-title {
  color: var(--white);
}
.productive-text {
  color: var(--whiteText);
}
.productive-cta {
  color: var(--teal200);
  display: flex;
  text-decoration: underline;
}

.productive-cta:hover {
  color: var(--whiteText);
  cursor: pointer;
}

.productive-arrow {
  width: 1.3rem;
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  gap: 1.5rem;
  padding-bottom: 22rem;
  /* margin-bottom: 10rem; */
  background-color: var(--navy900MainBackground);
}

.quote {
  width: 3rem;
  margin-top: -4.2rem;
  margin-left: -1.9rem;
}

.testimonial {
  background-color: var(--navy800);
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}
.testimonial-text {
  color: var(--whiteText);
  line-height: 1.5rem;
}
.testimonial-profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.8rem;
}
.testimonial-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.testimonial-author {
  color: var(--white);
}

.testimonial-author span {
  color: var(--whiteText);
  font-size: 0.8rem;
}

/* Call to Action */
.cta {
  background-color: var(--navy850);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.cta-title {
  color: var(--white);
}
.cta-text {
  color: var(--whiteText);
}
.cta-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta-input {
  height: 3rem;
  padding: 1rem;
  border-radius: 2rem;
}

.btn-secondary {
  padding: 1rem 2rem;
  background-color: rgb(41, 212, 255);
  border-radius: 20rem;
  color: var(--white);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email-error {
  color: var(--red);
  font-size: 0.8rem;
  text-align: left;
  margin-left: 1rem;
  /* display: none; */
}

.email-approved {
  color: rgb(0, 203, 0);
  font-size: 0.8rem;
  text-align: left;
  margin-left: 1rem;
  /* display: none; */
}
/* .btn-secondary {
} */

/* Footer */
.footer {
  background-color: var(--navy950FooterBackground);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}
.footer-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
}
.footer-logo {
  width: 10rem;
}
.footer-address {
  color: var(--whiteText);
  display: flex;
  align-items: start;
  line-height: 1.8rem;
}
.footer-icon {
  width: 1rem;
  margin-right: 1rem;
}
.footer-contact {
  color: var(--whiteText);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer-links {
  color: var(--whiteText);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.footer-socials {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  width: 2rem;
}

@media screen and (min-width: 75rem) {
  body {
    background-color: var(--navy850);
    padding: 0;
  }
  /* Header */
  /* .header {
  }
  .header-logo {
  }
  .header-nav {
  }
  .nav-list {
  }
  .nav-item {
  }
  .nav-link {
  } */

  /* Hero */
  /* .hero {
  } */
  .hero-image {
    width: 40rem;
  }

  .hero-content {
    background-image: url(bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 30rem;
    background-size: cover;
  }

  .hero-title {
    width: 37rem;
  }
  .hero-text {
    width: 37rem;
  }
  /* .btn {
  }
  .btn-primary {
  } */

  /* Features */
  .features {
    background-color: var(--navy900MainBackground);
    width: 100%;
    margin-top: -1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 11rem;
  }
  /* .feature {
  }
  .feature-icon {
  }
  .feature-title {
  } */
  .feature-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  /* Productive */
  .productive {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 10rem;
  }
  .productive-image {
    width: 35rem;
  }
  /* .productive-content {
  }
  .productive-title {
  }
  .productive-text {
  }
  .productive-cta {
  }
  .productive-arrow {
  } */

  /* Testimonials */
  .testimonials {
    display: flex;
    flex-direction: row;
  }
  /* .testimonial {
  }
  .testimonial-text {
  }
  .testimonial-profile {
  }
  .testimonial-avatar {
  }
  .testimonial-author {
  } */

  /* Call to Action */
  .footer {
    position: relative; /* so CTA positions relative to footer */
    padding: 6rem;
    padding-top: 25rem; /* create space for CTA to overlap */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    font-size: 1.3rem;
  }

  .cta {
    background-color: var(--navy800);
    width: 65rem;
    text-align: center;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

    position: absolute;
    top: -6rem; /* pull it UP so it overlaps footer */
    left: 50%;
    transform: translateX(-50%); /* center horizontally */
  }
  /* .cta-title {
  }
  .cta-text {
  } */
  .cta-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cta-input {
    width: 25rem;
  }

  /* Footer */

  .footer-about {
    width: 21rem;
    margin-top: -10rem;
  }
  /* .footer-logo {
  }
  .footer-address {
  }
  .footer-icon {
  }
  .footer-contact {
  }
  .footer-links {
  }
  .footer-socials {
  }
  .footer-social-icon {
  } */
}
